@import 'antd/dist/reset.css';

body {
  margin: 0;
  padding: 0;
  background-color: transparent !important;
}

/* Custom styles for the popup */
.ant-card {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}

.ant-switch {
  min-width: 44px;
  background: rgba(0, 0, 0, 0.25);
}

.ant-switch.ant-switch-checked {
  background: #118DFF;
}

.ant-divider {
  border-color: #f0f0f0;
}

.ant-tooltip {
  font-size: 12px;
} 